.App {
  background-color: #282c34;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 100vw;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
  color: black;
}

.searchbox {
  width: 50%;
}

.login {
  display: grid;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  justify-items: center;
}